@{
    ViewBag.Title = "Chat";
}


<div id="altura" style="height:100%">

    <h2>Index</h2>
    
    <div style="width:100%; overflow:auto" id="barraRolagem">
        <table>
            <tbody id="discussao"></tbody>
        </table>
    </div>

    <div class="row">
        <div class="form-group col-md-11">
            @Html.Label("Mensagem")
            <input type="text" class="form-control" id="message" />
        </div>
        <div class="form-group col-md-1">
            <br />
            <input type="button" id="sendmessage" value="Enviar" class="form-control btn btn-success" />
            <input type="hidden" id="name" />
        </div>
    </div> 

</div>

<script type="text/javascript">
    $("#name").val(prompt("Nome: ", ''));
    var chat = $.connection.chatHub;

    var timer = setInterval(function () {
        var height = window.innerHeight;

        $("#barraRolagem").height(height - 250);

    }, 100);

    chat.client.broadcastmessage = function (name, message) {
        var encodeName = $('<div />').text(name).html();
        var encodeMsg = $('<div />').text(message).html();
        $("#discussao").append('<tr style="page-break-after:auto"><td><strong>' + encodeName + '<strong>:&nbsp;&nbsp;' + encodeMsg + '</td></tr>');
        var c = document.getElementById("barraRolagem");
        c.scrollTop = c.scrollHeight;
    };

    $("#message").focus();
    $.connection.hub.start().done(function () {
        $("#sendmessage").click(function () {
            chat.server.send($('#name').val(), $('#message').val());
            $('#message').val('').focus();
        });
    });
    
</script>